footer {
  justify-content: center;
  height: 180px;
  background-color: #272727;
}

footer .container {
  justify-content: center;
  align-items: center;
}

footer .content {
  width: 100%;
  justify-content: space-between;
}

.content .icon {
  flex: 1;
}

.content img {
  width: 40px;
}

.content .footer-menu {
  flex: 2;
}

.footer-menu a, .content p {
  color: #ddd;
}

.content li {
  margin: 10px 0;
}

.content li:first-child {
  margin-top: 0;
}

.social-medias {
  flex: 3;
  align-items: flex-end;
}

.medias-icons img {
  width: 30px;
  margin: 10px 10px 0 0;
}

.medias-icons:last-child {
  margin-right: 18px;
}