header {
  justify-content: center;
  height: 200px;
}

/* Menu fixed */

#first-menu {
  justify-content: center;
  height: 25%;
  background-color: #272727;
}

#menu-fixed {
  justify-content: space-between;
  align-items: center;
  
  width: 100%;

  font-size: 13px;
}

.menu-icon {
  flex: 5;
}

.menu-items {
  justify-content: space-between;
  flex: 2;
}

.menu-icon a,
.menu-items a {
  align-items: center;
  height: 100%;
  color: #ddd;
}

.menu-btn hr {
  width: 20px;
  margin: 5px 8px;
}

.menu-items img {
  width: 20px;
  height: 20px;

  margin-right: 8px;
}

#menu-fixed strong {
  color: #fff;
}

/* Menu */

#second-menu {
  justify-content: center;
  align-items: center;

  height: 80%;
}

.menu {
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.logo img {
  height: 38px;
}

.menu nav {
  width: 70%;
}

.menu nav ul {
  justify-content: space-between;
}

.menu a {
  color: #434343;
}